---
title: Tags
layout: default
description: qwq
header-img: "img/3.jpg"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <!-- 标签云 -->
			<div id='tag_cloud' class="tags">
				<p><strong>qwq</strong></p>
				<a href="#日常" title="日常" rel="4">日常</a>
				
				<a href="#比赛" title="比赛" rel="10">比赛</a>
				
				<a href="#补坑" title="补坑" rel="5">补坑</a>
				
				<a href="#瞎搞" title="瞎搞" rel="13">瞎搞</a>
				
				<a href="#NOIP系列" title="NOIP系列" rel="7">NOIP系列</a>
				
				<p><strong>基础算法</strong></p>
				<a href="#搜索" title="搜索" rel="5">搜索</a>
				
				<a href="#二分答案" title="二分答案" rel="4">二分答案</a>
				
				<a href="#高精度" title="高精度" rel="1">高精度</a>
				
				<a href="#模拟" title="模拟" rel="1">模拟</a>
				
				<a href="#贪心" title="贪心" rel="2">贪心</a>
				
				<a href="#倍增" title="倍增" rel="4">倍增</a>
				
				<a href="#差分" title="差分" rel="2">差分</a>
				
				<p><strong>数论相关</strong></p>
				<a href="#数论" title="数论" rel="3">数论</a>
				
				<a href="#概率与期望" title="概率与期望" rel="2">概率与期望</a>
				
				<a href="#莫比乌斯反演" title="莫比乌斯反演" rel="7">莫比乌斯反演</a>
				
				<a href="#群论" title="群论" rel="1">群论</a>
				
				<a href="#状态压缩" title="状态压缩" rel="2">状态压缩</a>
				
				<a href="#杜教筛" title="杜教筛" rel="3">杜教筛</a>
				
				<p><strong>动态规划</strong></p>
				<a href="#动态规划" title="动态规划" rel="13">动态规划</a>
				
				<a href="#记忆化搜索" title="记忆化搜索" rel="1">记忆化搜索</a>
				
				<a href="#斜率优化" title="斜率优化" rel="3">斜率优化</a>
				
				<p><strong>图论</strong></p>
				<a href="#网络流" title="网络流" rel="13">网络流</a>
				
				<a href="#费用流" title="费用流" rel="2">费用流</a>
				
				<a href="#SPFA" title="SPFA" rel="1">SPFA</a>
				
				<a href="#Dijkstra" title="Dijkstra" rel="1">Dijkstra</a>
				
				<a href="#2-SAT" title="2-SAT" rel="1">2-SAT</a>
				
				<p><strong>数据结构</strong></p>
				<a href="#线段树" title="线段树" rel="5">线段树</a>
				
				<a href="#树链剖分" title="树链剖分" rel="8">树链剖分</a>
				
				<a href="#平衡树" title="平衡树" rel="4">平衡树</a>
				
				<a href="#Link Cut Tree" title="Link Cut Tree" rel="3">Link Cut Tree</a>
				
				<a href="#主席树" title="主席树" rel="1">主席树</a>
				
				<a href="#单调队列" title="单调队列" rel="1">单调队列</a>
				
				<a href="#树状数组" title="树状数组" rel="2">树状数组</a>
				
				<a href="#线性基" title="线性基" rel="2">线性基</a>
				
				<a href="#K-D Tree" title="K-D Tree" rel="2">K-D Tree</a>
				
				<a href="#点分治" title="点分治" rel="2">点分治</a>
				
				<a href="#克鲁斯卡尔重构树" title="克鲁斯卡尔重构树" rel="2">克鲁斯卡尔重构树</a>
				
				<a href="#并查集" title="并查集" rel="2">并查集</a>
				
				<p><strong>字符串</strong></p>
				<a href="#字符串" title="字符串" rel="3">字符串</a>
				
				<a href="#AC自动机" title="AC自动机" rel="1">AC自动机</a>
				
				<a href="#Hash" title="Hash" rel="1">Hash</a>
				
				<p><strong>多项式</strong></p>
				<a href="#FFT" title="FFT" rel="2">FFT</a>
				
				<a href="#FWT" title="FWT" rel="1">FWT</a>
				
				<p><strong>其他</strong></p>
				<a href="#计算几何" title="计算几何" rel="3">计算几何</a>
				
				<a href="#整体二分" title="整体二分" rel="1">整体二分</a>
				
				<a href="#CDQ分治" title="CDQ分治" rel="2">CDQ分治</a>
				
				<a href="#分数规划" title="分数规划" rel="1">分数规划</a>
				
				<a href="#构造" title="构造" rel="1">构造</a>
			</div>

            <!-- 标签列表 -->
			{% for tag in site.tags %}
			<div class="one-tag-list">
			  	<span class="fa fa-tag listing-seperator" id="{{ tag[0] }}">
                    <span class="tag-text">{{ tag[0] }}</span>
                </span>
				{% for post in tag[1] %}
				  <!-- <li class="listing-item">
				  <time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date:"%Y-%m-%d" }}</time>
				  <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
				  </li> -->
				 <div class="post-preview">
				    <a href="{{ post.url | prepend: site.baseurl }}">
				        <h2 class="post-title">
                            {{ post.title }}
				        </h2>
				        {% if post.subtitle %}
				        <h3 class="post-subtitle">
				            {{ post.subtitle }}
				        </h3>
				        {% endif %}
				    </a>
				    <!-- <p class="post-meta">{{ post.date | date:"%Y-%m-%d" }}</p> -->
				</div>
				<hr>
				{% endfor %}
			</div>
			{% endfor %}

		</div>
	</div>
</div>
